.contain {
	background: #fafafa;
	height: 100vh;
	display: flex;
	align-items: center;
}
.preload-2 {
	position: relative;
	left: 50%;
	margin-bottom: 40px;
	width: 40px;
	height: 40px;
	span {
		position: absolute;
		display: block;
		bottom: 0;
		width: 20px;
		height: 20px;
		background: #555;
		&:nth-child(1) {
			animation: preload-2-1 1.5s infinite ease-in-out;
		}
		&:nth-child(2) {
			left: 20px;
			animation: preload-2-2 1.5s infinite ease-in-out;
		}
		&:nth-child(3) {
			top: 0;
			animation: preload-2-3 1.5s infinite ease-in-out;
		}
		&:nth-child(4) {
			top: 0;
			left: 20px;
			animation: preload-2-4 1.5s infinite ease-in-out;
		}
	}
}
@keyframes preload-2-1 {
	0% {
		transform: translateX(0) translateY(0) rotate(0);
		border-radius: 0;
	}
	50% {
		transform: translateX(-20px) translateY(-10px) rotate(-180deg);
		border-radius: 50%;
		background: #6c42b1;
	}
	80% {
		transform: translateX(0) translateY(0) rotate(-360deg);
		border-radius: 0;
	}
	100% {
		transform: translateX(0) translateY(0) rotate(-360deg);
		border-radius: 0;
	}
}
@keyframes preload-2-2 {
	0% {
		transform: translateX(0px) translateY(0px) rotate(0deg);
		border-radius: 0;
	}
	50% {
		transform: translateX(20px) translateY(-10px) rotate(180deg);
		border-radius: 50%;
		background: #ffeb4f;
	}
	80% {
		transform: translateX(0) translateY(0) rotate(360deg);
		border-radius: 0;
	}
	100% {
		transform: translateX(0) translateY(0) rotate(360deg);
		border-radius: 0;
	}
}
@keyframes preload-2-3 {
	0% {
		transform: translateX(0px) translateY(0px) rotate(0deg);
		border-radius: 0;
	}
	50% {
		transform: translateX(-20px) translateY(10px) rotate(-180deg);
		border-radius: 50%;
		background: #39b774;
	}
	80% {
		transform: translateX(0) translateY(0) rotate(-360deg);
		border-radius: 0;
	}
	100% {
		transform: translateX(0) translateY(0) rotate(-360deg);
		border-radius: 0;
	}
}
@keyframes preload-2-4 {
	0% {
		transform: translateX(0px) translateY(0px) rotate(0deg);
		border-radius: 0;
	}
	50% {
		transform: translateX(20px) translateY(10px) rotate(180deg);
		border-radius: 50%;
		background: #ff774f;
	}
	80% {
		transform: translateX(0) translateY(0) rotate(360deg);
		border-radius: 0;
	}
	100% {
		transform: translateX(0) translateY(0) rotate(360deg);
		border-radius: 0;
	}
}